:root {
    --st-background-colour: #1A1A1A;
    --st-primary-dark: #000051;
    --st-primary-light: #009AFF;
    --st-black: #000000;
    --st-white: #FFFFFF;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
}

.footer-body {
    margin-top: auto;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    box-shadow: 0 0 0.5vh var(--st-background-colour);
    height: 140px;
}

#background-image {
    width: 100%;
    object-fit: cover;
}

.footer-title-container {
    display: flex;
    position: absolute;
    align-content: center;
    width: 30%;
    margin: 1%;
}

#footer-title-image {
    width: 85px;
    padding-bottom: 2%;
}

#footer-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    padding-left: 2%;
}

.white {
    color: var(--st-white);
}

.blue {
    color: var(--st-primary-light);
}

.socials {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: 150px;
    right: 0.5%;
    bottom: 2%;
}

#icon {
    margin-bottom: 0.55vw;
    filter: invert(100%);
}

#icon:hover {
    transform: scale(0.9);
}

@media (max-width: 2000px) {
    .footer-title-container {
        width: 40%;
    }
}

@media (max-width: 1500px) {
    .footer-title-container {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .footer-title-container {
        width: 60%;
    }
}

@media (max-width: 1005px) {
    .footer-body {
        height: 100px;
    }
    #footer-title {
        font-size: 35px;
    }
}

@media (max-width: 800px) {
    .footer-body {
        height: 140px;
    }
}

@media (max-width: 600px) {
    .footer-body {
        height: 145px;
    }
    #footer-title {
        font-size: 30px;
    }
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f5f6f6;
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px; 
    margin-right: 10px; 
    filter: invert(100%) drop-shadow(20%);
    
}

.logo-text-container {
    flex-grow: 1; 
    text-align: center;

}

.logo-text {
    font-size: 32px;
    font-weight: bold;
    color: white;

}

.redir {
    background-color: var(--st-primary-dark);
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

main {
    margin-top: 80px; 
    flex: 1;
    min-height: 75vh;
}

.nav-and-button {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: var(--st-primary-dark);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007BFF; 
}

